.showItemsDiv {
    height: 40px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.showPerPageText {
    width: fit-content;
    text-align: center;
    justify-self: center;
}
.showPerPageSelect {
    width: fit-content;
}
